<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Kalkulator Slashroot6</title>

</head>
<body>
    <div class="d-flex flex-column justify-content-center m-auto" style="width: 500px; height: 50vh;">
        <h1 class="text-center">Kalkulator Slashroot6</h1>
        <form action="/" method="post" class="text-center input-group mb-3">
            <input name="name" type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon2">
            <button class="btn btn-outline-primary" type="submit">Submit</button>
        </form>
        {% block hasil %}
        {% endblock %}
    </div>
</body>
</html>